<!--
item_type
item_object

-->
<% post_url = "/#{item_type}s/#{item_object.id}" %>

<form class="" action="<%= post_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="patch">

  <label for="<%= #{item_type} %>[band_id]">Band</label>
  <select class="" name="<%= #{item_type} %>[band_id]">
    <% Band.all.each do |band| %>
      <% selected = item_object.band == band ? 'selected' : '' %>
      <option value="<%= band.id %>" <%= selected %>><%= band.name %></option>
    <% end %>
  </select>

  <br><br>

  <label for="<%= #{item_type} %>[recording_venue]">Recorded</label><br>
  <input type="radio"
         name="<%= #{item_type} %>[recording_venue]"
         value="Live"
         <%= "checked" if item_object.recording_venue == "Live" %>>
         Live
       </input>
  <br>
  <input type="radio"
        name="<%= #{item_type} %>[recording_venue]"
        value="Studio"
        <%= "checked" if item_object.recording_venue == "Studio" %>>
        Studio
      </input>

  <br><br>
  <input type="submit" value="Update">
</form>
