<center>
<h1><%= @cat.name %></h1>

<img src="<%= @cat.image_url %>"><br>
<table style="border: 1px solid black;">
  <tr>
      <th>Name</th>
      <th>Color</th>
      <th>Sex</th>
      <th>Birthday</th>
  </tr>
  <tr>
      <td><%= @cat.name %></td>
      <td><%= @cat.color %></td>
      <td><%= @cat.sex %></td>
      <td><%= @cat.birth_date %></td>
  </tr>
</table>
<h4><%= @cat.description %></h4>
<br>
<%= link_to "Change Cat Deets", edit_cat_url(@cat) %>
<br>
<table></table>
<%= button_to "Euthanize", cat_url(@cat), method: :delete %>
<br>

  <h2><%= link_to "cats", cats_url %></h2></center>
